<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/townhall")

</head>
<body>
<div class="col-sm-2" id="navBar">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navb
ar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <p align="center">Guides</p>
                <li>@Html.ActionLink("Town Hall 3-6", "ThreeThrough6", "TownHall")</li>
                <li>@Html.ActionLink("Town Hall 7", "TownHall7", "TownHall")</li>
                <li>@Html.ActionLink("Town Hall 8", "TownHall8", "TownHall")</li>
                <li>@Html.ActionLink("Town Hall 9", "TownHall9", "TownHall")</li>
                <li>@Html.ActionLink("Town Hall 10", "TownHall10", "TownHall")</li>
            </ul>
        </div>
    </div>
</div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
    </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
   
    
</div>
<hr/>
<footer>
    <p>&copy; @DateTime.Now.Year</p>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)

</body>
</html>
