<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/townhall")
   
   

</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="/Home/Index" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/Tutorials" class="nav-link">Videos</a></li>
                <li class="nav-item"><a href="/TownHall/ThreeThrough6" class="nav-link">Starting Town Halls</a></li>
                <li class="nav-item"><a href="/TownHall/TownHall7" class="nav-link">TH 7</a></li>
                <li class="nav-item"><a href="/TownHall/TownHall8" class="nav-link">TH 8</a></li>
                <li class="nav-item"><a href="/TownHall/TownHall9" class="nav-link">TH 9</a></li>
                <li class="nav-item"><a href="/Home/WarRoom" class="nav-link">The War Room</a></li>
                <li class="nav-item"><a href="/Home/Suggestions" class="nav-link">Suggestions</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>


    @RenderSection("pageHeader", required: false)

    <div class="container body-content">
        @RenderBody()


    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
