@using System.Web.UI.WebControls
@model ClashOfClans.Models.WarViewModel
@{
    ViewBag.Title = "War Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
<div class="jumbotron">
    <div style="float: left">
        <h1>In Yo Face</h1>
    </div>
    <div align="right">
        <h1>@Model.CurrentWar.OpposingClan.Name</h1>
    </div>
    <div style="float: left">
        <p class="warMessage" style="font-size: 50px;">@Model.CurrentWar.OurClan.Stars</p>
    </div>
    <div align="right">
        <p class="warMessage" style="font-size: 50px;">@Model.CurrentWar.OpposingClan.Stars</p>
    </div>
    @if (Model.CurrentWar.State == "inWar")
    {
        <h2 class="warMessage" align="center">Time Until War Ends</h2>
    }
    else
    {
        <h2 align="center">Time Until War Begins</h2>
    }

    <div class="warMessage" id="renderTime" align="center"></div>
</div>
<div id="popupContact" class="modal">
    <div class="modal-content">
        <span class="close" id="closeButton">&times;</span>
        <div class="form-group">
            <input type="text" id="memberName" name="memberName" class="form-control" placeholder="Member Name"/>
            <textarea id="warPlan" style="height: 300px;" class="form-control" name="warPlan" placeholder="Enter War Plan"></textarea>
            <button class="btn-primary" id="submitButton">Submit</button>
        </div>

    </div>
</div>
<h1 align="center" style="font-size: 40px">The War Plan...</h1>
<button class="btn-group-sm" id="button">Add War Plan (Admin Only)</button><br/>
<div id="renderPlan" class="col-md-6">
    <p id="displayMemberName">@Model.WarPlan.MemberName</p>
    <p id="displayWarPlan">@Model.WarPlan.Plan</p>
</div>

<div class="col-md-6" style="display: table" id="warMap">
    @for (int i = 0; i < Model.CurrentWar.OpposingClan.MembersInWars.Count; i++)
    {
        <div class="content" style="line-height: 100px">

            @if (i % 2 == 0)
            {
                <img src="@("/Content/Images/TownHalls/th" + Model.CurrentWar.OpposingClan.MembersInWars[i].TownHallLevel + ".png")" style="float: right"/>
                <p style="text-align: right">@Model.CurrentWar.OpposingClan.MembersInWars[i].Name</p>
            }
            else
            {
                <img src="@("/Content/Images/TownHalls/th" + Model.CurrentWar.OpposingClan.MembersInWars[i].TownHallLevel + ".png")" style="float: left"/>
                <p>@Model.CurrentWar.OpposingClan.MembersInWars[i].Name</p>
            }
        </div>

    }
</div>
</body>
<script src="~/Scripts/CurrentWar/WarRoom.js"></script>

